.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1% 2% 1% 2%;
  height: 100%;
  align-items: center;
  border-bottom: 1px solid black;
  //
  &-nav {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
    &__bars {
      margin-right: 3%;
      &-icon {
        font-size: 130%;
      }
    }
    &__logo {
      &-wetube-icon {
        color: red;
        font-size: 150%;
      }
      &-wetube {
        font-size: 150%;
      }
    }
  }
  //
  &-form {
    height: 100%;
    &__input {
      width: 50%;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-right: none;
    }
    &__button {
      width: 10%;
      border: 1px solid rgba(0, 0, 0, 0.4);
    }
  }
  //
  &-menu {
    display: flex;
    justify-content: end;
    align-items: center;
    &__upload {
      i {
        font-size: 120%;
      }
    }
    &__settings {
      display: grid;
      grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr;
      margin-left: 2%;
      &-icon {
        font-size: 120%;
      }
    }
    &__link {
      border: 1px solid blue;
      padding: 3%;
      width: 20%;
      &-signin {
        color: blue;
        &-term {
          margin-left: 10%;
        }
      }
    }
  }
}

.header-form-style {
  vertical-align: middle;
  line-height: 1.5;
  padding: 1%;
}
