extends layouts/main.pug

block content 
    include partials/error.pug
    .signincontainer
        form.signincontainer-form(method="post")
            span 이메일
            input.signincontainer-form-email(type="email", name="email" placeholder="이메일")
            span 비밀번호
            input.signincontainer-form-password(type="password", name="password" placeholder="비밀번호를 입력하세요.")
            button.signincontainer-form-login 로그인
        a.signincontainer-link(href="/signup") 계정 생성하기 &rarr;
        include partials/socialNet.pug
