/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/public/scss/styles.scss ***!
  \**********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/public/scss/styles.scss (1) ***!
  \**************************************************************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1% 2% 1% 2%;
  height: 100%;
  align-items: center;
  border-bottom: 1px solid black;
}
.header-nav {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
}
.header-nav__bars {
  margin-right: 3%;
}
.header-nav__bars-icon {
  font-size: 130%;
}
.header-nav__logo-wetube-icon {
  color: red;
  font-size: 150%;
}
.header-nav__logo-wetube {
  font-size: 150%;
}
.header-form {
  height: 100%;
}
.header-form__input {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-right: none;
}
.header-form__button {
  width: 10%;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.header-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-menu__upload i {
  font-size: 120%;
}
.header-menu__settings {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr;
  margin-left: 2%;
}
.header-menu__settings-icon {
  font-size: 120%;
}
.header-menu__link {
  border: 1px solid blue;
  padding: 3%;
  width: 20%;
}
.header-menu__link-signin {
  color: blue;
}
.header-menu__link-signin-term {
  margin-left: 10%;
}

.header-form-style {
  vertical-align: middle;
  line-height: 1.5;
  padding: 1%;
}

.footer {
  display: flex;
  justify-content: center;
}

.socialNet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 30%;
}
.socialNet a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.socialNet-github {
  background-color: black;
  color: white;
}
.socialNet-facebook {
  background-color: blue;
  color: white;
}
.socialNet-naver {
  background-color: green;
  color: white;
}
.socialNet-kakao {
  color: black;
  background-color: yellow;
}
.socialNet-google {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: black;
  color: white;
}

.videocontainers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1%;
  padding: 1%;
}
.videocontainers-container {
  margin-bottom: 10%;
}
.videocontainers-container__video {
  width: 100%;
}
.videocontainers-container-info {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-top: 3%;
  align-items: center;
}
.videocontainers-container-info__profile-img {
  width: 100%;
}
.videocontainers-container-info__details {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
}
.videocontainers-container-info__details-title {
  margin-bottom: 4%;
}
.videocontainers-container-info__details-owner {
  margin-bottom: 3%;
}
.videocontainers-container-info__details-data {
  display: flex;
  align-items: center;
}
.videocontainers-container-info__details-data-dot {
  margin: 0 1% 0 1%;
}

.watchcontainers {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1%;
  column-gap: 1%;
}
.watchcontainers-container-videoplayer {
  position: relative;
}
.watchcontainers-container-videoplayer__video {
  width: 100%;
}
.watchcontainers-container-videoplayer-videocontrollers {
  position: absolute;
  width: 96%;
  bottom: 3%;
  left: 2%;
  right: 2%;
}
.watchcontainers-container-videoplayer-videocontrollers__timeline {
  width: 100%;
  height: 5px;
  background-color: white;
  cursor: pointer;
  position: relative;
}
.watchcontainers-container-videoplayer-videocontrollers__timeline-drag {
  width: 1px;
  height: 5px;
  background-color: red;
  position: absolute;
  transform-origin: 0 0;
}
.watchcontainers-container-videoplayer-videocontrollers__timeline-progress {
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
  transform: scaleX(0);
  transform-origin: 0 0;
  position: relative;
  z-index: 1;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2%;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary {
  display: flex;
  align-items: center;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-play {
  width: 10%;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-play-icon {
  cursor: pointer;
  color: white;
  font-size: 120%;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume {
  display: flex;
  width: 40%;
  align-items: center;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume-icon {
  color: white;
  width: 20%;
  font-size: 120%;
  cursor: pointer;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume-input {
  cursor: pointer;
  -webkit-appearance: none;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  border-radius: 1px;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume-input::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px white;
  border: 1px solid white;
  height: 13px;
  width: 13px;
  border-radius: 7px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-time-currenttime {
  margin-right: 5%;
  color: white;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-time-slash {
  color: white;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-time-totaltime {
  margin-left: 5%;
  color: white;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-secondary {
  display: flex;
  justify-content: end;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-secondary-expand-icon {
  font-size: 120%;
  color: white;
  cursor: pointer;
}
.watchcontainers-container-details {
  margin-top: 2%;
}
.watchcontainers-container-details__primary {
  display: flex;
  flex-direction: column;
}
.watchcontainers-container-details__primary-videotitle {
  font-size: 140%;
  margin-bottom: 2%;
}
.watchcontainers-container-details__primary-videoinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 2%;
  margin-bottom: 2%;
}
.watchcontainers-container-details__primary-videoinfo-left {
  display: flex;
}
.watchcontainers-container-details__primary-videoinfo-left-term {
  margin-right: 1%;
}
.watchcontainers-container-details__primary-videoinfo-left-dot {
  margin: 0 1% 0 1%;
}
.watchcontainers-container-details__primary-videoinfo-left-year {
  margin-right: 1%;
}
.watchcontainers-container-details__primary-videoinfo-left-month {
  margin-right: 1%;
}
.watchcontainers-container-details__primary-videoinfo-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.watchcontainers-container-details__primary-videoinfo-right-like {
  display: flex;
  align-items: center;
  font-size: 120%;
}
.watchcontainers-container-details__primary-videoinfo-right-like-icon {
  cursor: pointer;
}
.watchcontainers-container-details__primary-videoinfo-right-like-count {
  margin-left: 10px;
}
.watchcontainers-container-details__primary-videoinfo-right-dislike {
  margin-left: 5%;
  font-size: 120%;
}
.watchcontainers-container-details__primary-videoinfo-right-dislike-icon {
  cursor: pointer;
}
.watchcontainers-container-details__secondary {
  display: grid;
  grid-template-columns: 1fr 10fr 1.5fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 2%;
  margin-bottom: 2%;
}
.watchcontainers-container-details__secondary-left {
  border-radius: 30px;
}
.watchcontainers-container-details__secondary-left-img {
  width: 100%;
  border-radius: 50%;
}
.watchcontainers-container-details__secondary-middle {
  width: 100%;
  padding-left: 2%;
}
.watchcontainers-container-details__secondary-middle-ownerinfo {
  padding-top: 1%;
  margin-bottom: 2%;
}
.watchcontainers-container-details__secondary-middle-ownerinfo-username {
  margin-bottom: 1%;
}
.watchcontainers-container-details__secondary-right-button {
  width: 100%;
  background-color: red;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 5%;
  font-size: 105%;
}
.watchcontainers-container-details__tertiary {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}
.watchcontainers-container-details__tertiary-top {
  display: flex;
  margin-bottom: 2%;
}
.watchcontainers-container-details__tertiary-top-left {
  margin-right: 2%;
}
.watchcontainers-container-details__tertiary-top-right {
  width: 20%;
}
.watchcontainers-container-details__tertiary-top-right-icon {
  margin-right: 5%;
}
.watchcontainers-container-details__tertiary-top-right-hidden {
  display: none;
}
.watchcontainers-container-details__tertiary-middle {
  display: flex;
  align-items: center;
}
.watchcontainers-container-details__tertiary-middle-img {
  border-radius: 25px;
}
.watchcontainers-container-details__tertiary-middle-form {
  position: relative;
  width: 100%;
  padding-left: 2%;
}
.watchcontainers-container-details__tertiary-middle-form-input {
  width: 100%;
  border: none;
  line-height: 1.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.watchcontainers-container-details__tertiary-middle-form-cancelorcomment {
  position: absolute;
  width: 25%;
  right: 0;
  display: flex;
  visibility: hidden;
  margin: 2% 0 2% 0;
}
.watchcontainers-container-details__tertiary-middle-form-cancelorcomment-cancel, .watchcontainers-container-details__tertiary-middle-form-cancelorcomment-comment {
  width: 100%;
  border: none;
  padding: 1%;
  cursor: pointer;
}
.watchcontainers-container-details__tertiary-middle-form-cancelorcomment-cancel {
  color: rgba(5, 5, 5, 0.5);
  background: none;
}
.watchcontainers-container-details__tertiary-middle-form-cancelorcomment-comment {
  color: white;
  background-color: black;
}
.watchcontainers-container-details__tertiary-bottom-commentcontainer {
  display: flex;
}
.watchcontainers-container-details__tertiary-bottom-commentcontainer-img {
  border-radius: 25px;
}
.watchcontainers-container-details__tertiary-bottom-commentcontainer-info {
  width: 100%;
  position: relative;
  padding-left: 2%;
}
.watchcontainers-container-details__tertiary-bottom-commentcontainer-info-owner {
  margin-right: 2%;
}
.watchcontainers-container-details__tertiary-bottom-commentcontainer-info-text {
  padding-top: 1%;
}
.watchcontainers-container-details__tertiary-bottom-commentcontainer-info-del {
  position: absolute;
  right: 0;
  top: 0;
}

.signincontainer {
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.signincontainer-form {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr 1.5fr 1fr;
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
  border-radius: 2%;
}
.signincontainer-form span {
  padding: 3%;
}
.signincontainer-form-email, .signincontainer-form-password, .signincontainer-form-login {
  border: none;
  height: 100%;
}
.signincontainer-form-email, .signincontainer-form-password {
  padding: 1%;
  padding-left: 2%;
}
.signincontainer-form-login {
  font-size: 105%;
  cursor: pointer;
}
.signincontainer-link {
  width: 30%;
  margin-bottom: 1%;
}

.signupcontainer {
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
.signupcontainer-form {
  display: grid;
  grid-template-rows: 1fr 1.2fr 1fr 1.2fr 1fr 1.2fr 1fr 1.2fr 1.2fr 1.2fr;
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
  border-radius: 2%;
}
.signupcontainer-form span {
  padding: 3%;
}
.signupcontainer-form-lastname, .signupcontainer-form-firstname, .signupcontainer-form-email, .signupcontainer-form-password, .signupcontainer-form-confirm, .signupcontainer-form-create {
  border: none;
  height: 100%;
  padding-left: 3%;
}
.signupcontainer-form-create {
  font-size: 105%;
  cursor: pointer;
}
.signupcontainer-link {
  width: 30%;
  margin-bottom: 1%;
}

.editprofilecontainer {
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
.editprofilecontainer__form {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px black;
  position: relative;
  margin-bottom: 2%;
  border-radius: 5px;
}
.editprofilecontainer__form-info {
  margin-bottom: 10%;
}
.editprofilecontainer__form-info input {
  padding: 1%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.editprofilecontainer__form-info-title {
  font-size: 120%;
  color: chocolate;
  border-top: 1px solid chocolate;
  border-left: 1px solid chocolate;
  box-shadow: -1px -1px 1px chocolate;
}
.editprofilecontainer__form-info-fullname {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 3%;
}
.editprofilecontainer__form-info-fullname span {
  font-size: 105%;
  padding: 1%;
  margin-right: 5%;
}
.editprofilecontainer__form-info-fullname-lastname {
  margin-right: 5%;
  display: flex;
  justify-content: center;
}
.editprofilecontainer__form-info-fullname-firstname {
  display: flex;
  justify-content: center;
}
.editprofilecontainer__form-info-username {
  display: flex;
}
.editprofilecontainer__form-info-username span {
  margin-right: 2%;
}
.editprofilecontainer__form-info-button {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  background-color: rgb(127, 159, 194);
  width: 30%;
  height: 30%;
  border-radius: 5px;
  cursor: pointer;
}
.editprofilecontainer__form-email {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}
.editprofilecontainer__form-email input {
  padding: 1%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.editprofilecontainer__form-email-title {
  font-size: 120%;
  color: chocolate;
  border-top: 1px solid chocolate;
  border-left: 1px solid chocolate;
  box-shadow: -1px -1px 1px chocolate;
  width: 30%;
  margin-bottom: 2%;
}
.editprofilecontainer__form-email-block {
  display: flex;
}
.editprofilecontainer__form-email-block span {
  margin-right: 2%;
}
.editprofilecontainer__form-email-button {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  background-color: rgb(127, 159, 194);
  width: 30%;
  height: 30%;
  border-radius: 5px;
  cursor: pointer;
}
.editprofilecontainer__form-photo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}
.editprofilecontainer__form-photo-title {
  font-size: 120%;
  color: chocolate;
  border-top: 1px solid chocolate;
  border-left: 1px solid chocolate;
  box-shadow: -1px -1px 1px chocolate;
  width: 30%;
  margin-bottom: 2%;
}
.editprofilecontainer__form-photo-button {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  background-color: rgb(127, 159, 194);
  width: 30%;
  height: 30%;
  border-radius: 5px;
  cursor: pointer;
}
.editprofilecontainer__form-password {
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
}
.editprofilecontainer__form-password-title {
  font-size: 120%;
  color: chocolate;
  border-top: 1px solid chocolate;
  border-left: 1px solid chocolate;
  box-shadow: -1px -1px 1px chocolate;
  width: 30%;
  margin-bottom: 2%;
}
.editprofilecontainer__form-password-block :first-child {
  margin-right: 10%;
}
.editprofilecontainer__form-password-block input {
  padding: 1%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.editprofilecontainer__form-password-button {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  background-color: rgb(127, 159, 194);
  width: 30%;
  height: 30%;
  border-radius: 5px;
  cursor: pointer;
}
.editprofilecontainer__formdelete {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px black;
  margin-bottom: 2%;
  border-radius: 5px;
}
.editprofilecontainer__formdelete-title {
  font-size: 120%;
  color: chocolate;
  border-top: 1px solid chocolate;
  border-left: 1px solid chocolate;
  box-shadow: -1px -1px 1px chocolate;
  width: 30%;
  margin-bottom: 2%;
}
.editprofilecontainer__formdelete-block {
  display: flex;
  justify-content: space-between;
}
.editprofilecontainer__formdelete-button {
  border: none;
  background-color: rgb(127, 159, 194);
  border-radius: 5px;
  cursor: pointer;
}

#photoFileInput {
  display: none;
}

.photoLabel {
  padding: 6px 25px;
  border-radius: 4px;
  cursor: pointer;
}

.uploadcontainer {
  padding: 1%;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.uploadcontainer-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: 1px solid rgba(44, 4, 4, 0.2);
}
.uploadcontainer-form__label, .uploadcontainer-form__file, .uploadcontainer-form__input, .uploadcontainer-form__textarea, .uploadcontainer-form__select {
  margin-bottom: 3%;
  padding: 2%;
  border: none;
  border-bottom: 1px solid salmon;
}
.uploadcontainer-form__label {
  cursor: pointer;
}
.uploadcontainer-form__file {
  display: none;
}
.uploadcontainer-form__select {
  cursor: pointer;
}
.uploadcontainer-form__button {
  border: none;
  background-color: white;
  font-size: 120%;
  cursor: pointer;
}

.studiocontainers {
  padding: 1%;
}
.studiocontainers-studiocontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2%;
}
.studiocontainers-studiocontainer-left, .studiocontainers-studiocontainer-right-visibility, .studiocontainers-studiocontainer-right-date, .studiocontainers-studiocontainer-right-views, .studiocontainers-studiocontainer-right-comments, .studiocontainers-studiocontainer-right-likes {
  display: grid;
  grid-template-rows: 1fr 5fr;
}
.studiocontainers-studiocontainer-left span, .studiocontainers-studiocontainer-right-visibility span, .studiocontainers-studiocontainer-right-date span, .studiocontainers-studiocontainer-right-views span, .studiocontainers-studiocontainer-right-comments span, .studiocontainers-studiocontainer-right-likes span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 105%;
}
.studiocontainers-studiocontainer-left a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.studiocontainers-studiocontainer-left a video {
  width: 45%;
}
.studiocontainers-studiocontainer-right {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.studiocontainers-studiocontainer-right-visibility select {
  border: none;
  -webkit-appearance: none;
  text-align: center;
}
.studiocontainers-studiocontainer-right-visibility select:focus {
  outline: none;
}

.historycontainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1%;
  margin-left: 1%;
}
.historycontainer-left-date__term {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 110%;
}
.historycontainer-left-date__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1%;
}
.historycontainer-left-date__container-left a video {
  width: 100%;
}
.historycontainer-left-date__container-right {
  padding-left: 4%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.historycontainer-left-date__container-right-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.historycontainer-left-date__container-right-top-title {
  font-size: 160%;
  font-weight: 500;
}
.historycontainer-left-date__container-right-top-button {
  background-color: white;
  border: none;
}
.historycontainer-left-date__container-right-middle a {
  margin-right: 2%;
}
.historycontainer-left-date__container-right-middle a span {
  font-size: 140%;
}
.historycontainer-left-date__container-right-middle-views {
  margin-left: 2%;
  font-size: 120% z;
}
body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}
a:visited, a:hover, a:focus, a:hover, a:active {
  text-decoration: none;
}
