/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/public/scss/styles.scss ***!
  \**********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/public/scss/styles.scss (1) ***!
  \**************************************************************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#photoFileInput {
  display: none;
}

.photoLabel {
  padding: 6px 25px;
  /* background-color: #ff6600; */
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1% 2% 1% 2%;
  height: 100%;
  align-items: center;
  border-bottom: 1px solid black;
}
.header-nav {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
}
.header-nav__bars {
  margin-right: 3%;
}
.header-nav__bars-icon {
  font-size: 130%;
}
.header-nav__logo-wetube-icon {
  color: red;
  font-size: 150%;
}
.header-nav__logo-wetube {
  font-size: 150%;
}
.header-form {
  height: 100%;
}
.header-form__input {
  width: 50%;
}
.header-form__button {
  width: 10%;
}
.header-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-menu__settings {
  margin-right: 5%;
}
.header-menu__settings-icon {
  font-size: 120%;
}
.header-menu__link {
  border: 1px solid blue;
  padding: 3%;
  width: 20%;
}
.header-menu__link-signin {
  color: blue;
}
.header-menu__link-signin-term {
  margin-left: 10%;
}

.header-form-style {
  vertical-align: middle;
  line-height: 1.5;
  padding: 1%;
}

.footer {
  display: flex;
  justify-content: center;
}

.videocontainers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1%;
  padding: 1%;
}
.videocontainers-container__video {
  width: 100%;
}
.videocontainers-container-info {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-top: 3%;
  align-items: center;
}
.videocontainers-container-info__profile-img {
  width: 100%;
}
.videocontainers-container-info__details {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
}
.videocontainers-container-info__details-title {
  margin-bottom: 4%;
}
.videocontainers-container-info__details-owner {
  margin-bottom: 3%;
}
.videocontainers-container-info__details-data {
  display: flex;
  align-items: center;
}
.videocontainers-container-info__details-data-dot {
  margin: 0 1% 0 1%;
}

.watchcontainers {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1%;
  column-gap: 1%;
}
.watchcontainers-container-videoplayer {
  position: relative;
}
.watchcontainers-container-videoplayer__video {
  width: 100%;
}
.watchcontainers-container-videoplayer-videocontrollers {
  position: absolute;
  width: 96%;
  bottom: 3%;
  left: 2%;
  right: 2%;
}
.watchcontainers-container-videoplayer-videocontrollers__timeline {
  width: 100%;
  height: 5px;
  background-color: white;
  cursor: pointer;
  position: relative;
}
.watchcontainers-container-videoplayer-videocontrollers__timeline-drag {
  width: 1px;
  height: 5px;
  background-color: red;
  position: absolute;
  transform-origin: 0 0;
}
.watchcontainers-container-videoplayer-videocontrollers__timeline-progress {
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
  transform: scaleX(0);
  transform-origin: 0 0;
  position: relative;
  z-index: 1;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2%;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary {
  display: flex;
  align-items: center;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-play {
  width: 10%;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-play-icon {
  cursor: pointer;
  color: white;
  font-size: 120%;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume {
  display: flex;
  width: 40%;
  align-items: center;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume-icon {
  color: white;
  width: 20%;
  font-size: 120%;
  cursor: pointer;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume-input {
  cursor: pointer;
  -webkit-appearance: none;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  border-radius: 1px;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume-input::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px white;
  border: 1px solid white;
  height: 13px;
  width: 13px;
  border-radius: 7px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-time-currenttime {
  margin-right: 5%;
  color: white;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-time-slash {
  color: white;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-time-totaltime {
  margin-left: 5%;
  color: white;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-secondary {
  display: flex;
  justify-content: end;
}
.watchcontainers-container-videoplayer-videocontrollers__interaction-secondary-expand-icon {
  font-size: 120%;
  color: white;
  cursor: pointer;
}
.watchcontainers-container-details {
  margin-top: 2%;
}
.watchcontainers-container-details__primary {
  display: flex;
  flex-direction: column;
}
.watchcontainers-container-details__primary-videotitle {
  font-size: 140%;
  margin-bottom: 2%;
}
.watchcontainers-container-details__primary-videoinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 2%;
  margin-bottom: 2%;
}
.watchcontainers-container-details__primary-videoinfo-left {
  display: flex;
}
.watchcontainers-container-details__primary-videoinfo-left-term {
  margin-right: 1%;
}
.watchcontainers-container-details__primary-videoinfo-left-dot {
  margin: 0 1% 0 1%;
}
.watchcontainers-container-details__primary-videoinfo-left-year {
  margin-right: 1%;
}
.watchcontainers-container-details__primary-videoinfo-left-month {
  margin-right: 1%;
}
.watchcontainers-container-details__primary-videoinfo-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.watchcontainers-container-details__primary-videoinfo-right-like {
  display: flex;
  align-items: center;
  font-size: 120%;
}
.watchcontainers-container-details__primary-videoinfo-right-like-count {
  margin-left: 10px;
}
.watchcontainers-container-details__primary-videoinfo-right-dislike {
  margin-left: 5%;
  font-size: 120%;
}
.watchcontainers-container-details__secondary {
  display: grid;
  grid-template-columns: 1fr 10fr 1.5fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 2%;
  margin-bottom: 2%;
}
.watchcontainers-container-details__secondary-left {
  border-radius: 30px;
}
.watchcontainers-container-details__secondary-left-img {
  width: 100%;
  border-radius: 50%;
}
.watchcontainers-container-details__secondary-middle {
  width: 100%;
  padding-left: 2%;
}
.watchcontainers-container-details__secondary-middle-ownerinfo {
  padding-top: 1%;
  margin-bottom: 2%;
}
.watchcontainers-container-details__secondary-middle-ownerinfo-username {
  margin-bottom: 1%;
}
.watchcontainers-container-details__secondary-right-button {
  width: 100%;
  background-color: red;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 5%;
  font-size: 105%;
}
.watchcontainers-container-details__tertiary {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}
.watchcontainers-container-details__tertiary-top {
  display: flex;
  margin-bottom: 2%;
}
.watchcontainers-container-details__tertiary-top-left {
  margin-right: 2%;
}
.watchcontainers-container-details__tertiary-top-right {
  width: 20%;
}
.watchcontainers-container-details__tertiary-top-right-icon {
  margin-right: 5%;
}
.watchcontainers-container-details__tertiary-top-right-hidden {
  display: none;
}
.watchcontainers-container-details__tertiary-middle {
  display: flex;
  align-items: center;
}
.watchcontainers-container-details__tertiary-middle-img {
  border-radius: 25px;
}
.watchcontainers-container-details__tertiary-middle-form {
  position: relative;
  width: 100%;
  padding-left: 2%;
}
.watchcontainers-container-details__tertiary-middle-form-input {
  width: 100%;
  border: none;
  line-height: 1.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.watchcontainers-container-details__tertiary-middle-form-cancelorcomment {
  position: absolute;
  width: 25%;
  right: 0;
  display: flex;
  visibility: hidden;
  margin: 2% 0 2% 0;
}
.watchcontainers-container-details__tertiary-middle-form-cancelorcomment-cancel, .watchcontainers-container-details__tertiary-middle-form-cancelorcomment-comment {
  width: 100%;
  border: none;
  padding: 1%;
  cursor: pointer;
}
.watchcontainers-container-details__tertiary-middle-form-cancelorcomment-cancel {
  color: rgba(5, 5, 5, 0.5);
  background: none;
}
.watchcontainers-container-details__tertiary-middle-form-cancelorcomment-comment {
  color: white;
  background-color: black;
}
.watchcontainers-container-details__tertiary-bottom-commentcontainer {
  display: flex;
}
.watchcontainers-container-details__tertiary-bottom-commentcontainer-img {
  border-radius: 25px;
}
.watchcontainers-container-details__tertiary-bottom-commentcontainer-info {
  width: 100%;
  position: relative;
  padding-left: 2%;
}
.watchcontainers-container-details__tertiary-bottom-commentcontainer-info-owner {
  margin-right: 2%;
}
.watchcontainers-container-details__tertiary-bottom-commentcontainer-info-text {
  padding-top: 1%;
}
.watchcontainers-container-details__tertiary-bottom-commentcontainer-info-del {
  position: absolute;
  right: 0;
  top: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}
a:visited, a:hover, a:focus, a:hover, a:active {
  text-decoration: none;
}
