header
    div WeTube
    form
        input(type="text" placeholder="검색")
        button 
            i.fa-solid.fa-magnifying-glass
    div 
        //- TODO: add href address
        if !user
            a(href="/signin") 
                i.fa-solid.fa-circle-user
                span 로그인
        else
        