header
    div 
        a(href="/") WeTube
    form(action="/result")
        input(type="text" name="search" placeholder="검색")
        button 
            i.fa-solid.fa-magnifying-glass
    div 
        if !authorised
            a(href="/signin") 
                i.fa-solid.fa-circle-user
                span 로그인
        else
            a(href="/upload") 
                i.fa-solid.fa-video
            a(href=`/users/${user._id}`) 프로필 수정
            a(href=`/studio/${user._id}`) 스튜디오 
            a(href='/videos/histroy') 시청 기록
            a(href="/signout") 로그아웃
                
        