header.header
    .header-nav
        .header-nav__bars
            i.header-nav__bars-icon.fa-solid.fa-bars
        .header-nav__logo
            a(href="/")
                i.header-nav__logo-wetube-icon.fa-brands.fa-youtube
                span.header-nav__logo-wetube WeTube
    form.header-form(action="/result")
        input.header-form__input.header-form-style(type="text" name="search" placeholder="검색")
        button.header-form__button.header-form-style
            i.fa-solid.fa-magnifying-glass
    .header-menu
        if !authorised
            .header-menu__settings
                i.header-menu__settings-icon.fa-solid.fa-ellipsis-vertical
            a.header-menu__link(href="/signin") 
                .header-menu__link-signin
                    i.fa-solid.fa-circle-user
                    span.header-menu__link-signin-term 로그인
        else
            a(href="/upload") 
                i.fa-solid.fa-video
            a(href=`/users/${user._id}`) 프로필 수정
            a(href=`/studio/${user._id}`) 스튜디오 
            a(href='/videos/histroy') 시청 기록
            a(href="/signout") 로그아웃
                
        