.socialNet
    a(href="/users/github") 
        span Github
    a(href="/users/facebook") 
        span Facebook
    a(href="")
        span NAVER
    a(href="")
        span Kakao
    a(href="")
        span Google
    a(href="")
        span Apple
    a(href="")
        span Twitter
        