.socialNet
    a(href="https://github.com/login/oauth/authorize") 
        span Github
    a(href="") 
        span Facebook
    a(href="")
        span NAVER
    a(href="")
        span Kakao
    a(href="")
        span Google
    a(href="")
        span Apple
    a(href="")
        span Twitter