.socialNet
    a.socialNet-github(href="/users/github") 
        span Github
    a.socialNet-facebook(href="/users/facebook") 
        span Facebook
    a.socialNet-naver(href="/users/naver")
        span NAVER
    a.socialNet-kakao(href="/users/kakao")
        span Kakao
    a.socialNet-google(href="/users/google")
        span Google
        