@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "reset.scss";
@import "editProfile.scss";

// paritals
@import "paritals/header.scss";
@import "paritals/footer.scss";
@import "paritals/socialNet.scss";

// pages
@import "pages/index.scss";
@import "pages/watch.scss";
@import "pages/signin.scss";
@import "pages/signup.scss";
@import "pages/editProfile.scss";

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: initial;
  &:visited,
  &:hover,
  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }
}
